<% include ./partials/header %>
<div class="colorvalue">  
      <center>
       <h2 class="h2tag">THE GREAT GAME</h2>
       <h1 class="display-3"> <span id="rgbcolor">RGB(255 , 255 , 255)</span></h1>
       <h2 class="h2tag">GUESSING GAME</h2>
     </center>
    </div>
        <!-- heading of game -->
         <div class="strip">
              <button id="colorresetbutton">New Colors</button>
              <span id="answer"></span>
              <button id="easy">Easy</button>
              <button id="hard">Hard</button>
          </div>   
     
          
     <!-- All the boxes -->
  <div id="conatiner">
     <div class="square"></div>
     <div class="square"></div>
     <div class="square"></div>
     <div class="square"></div>
     <div class="square"></div>
     <div class="square"></div>
  </div>

          
<% include ./partials/footer %>